/*-------------------- Mother --------------------*/




/*-------------------- Mother --------------------*/

/*-------------------- Header --------------------*/

i {
  font-size: 2.5em;
}

/*-------------------- Header --------------------*/

/*-------------------- Main --------------------*/
#carouselExampleIndicators, #carouselExampleControls{
max-width: 300px;
margin: auto;
}

img{
    max-width: 300px;

}

/*-------------------- Main --------------------*/
